*{
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.2em;
}

h5{
    font-size: 0.89em;
}

body{
    background-color: black;
    opacity: 0.9;
       
}

header {
    height:69px;
    border-bottom: 1px solid seashell;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top:0;
    background-color: black;
}

header img{
    height: 50px;
    margin-left: 10px;
}
header a{
    display: inline-flex;
    text-decoration: underline;
    margin-right: 10px;
    align-content: flex-end;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
}

section{
    margin: 20px;
    
}

.mission{
    display: flex;
    justify-content: center;
    flex: 1 1 1200px;
    align-items: center;
    height: 700px;
    background-image: url(img-mission-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
}

.mission-container {
    text-align: center;
    width: 100%;
    background-color: black;
    opacity: 1;
}

.tea-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 1000px;
}

.tea-month {
    justify-content: center;
    text-align:center;
}


.figure-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

figure {
    width: 300px;
    height: 200px;
    overflow:visible;
    margin: 2%;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

figcaption {
    margin: 10px;
    text-align: center;

}

.locations {
    margin-top: 70px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    flex: 1 1 1200px;
    text-align: center;
    background-image: url(img-locations-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.locations-h2 {
    width: 100%; 
}

.locations-container{
    margin-top:15px;
    width: 300px;
margin: 0 40px;
    background-color: black;
    opacity: 1;
}

.cozy {
    margin-top: -25px;
    height: 200px;
    text-align: center;
}

footer {
    margin-left: 20px;
    text-align: left;
}